{% extends "base.html" %}
{% block title %}
rovasom
{% endblock %}
{% block content %}

<div class="flex-container">
	<div class="flex-items">
		<h3>ONE STEP CLOSER to the robot that answers your questions based on
			 the information you can find on the urls that you have typed.
			  CHECK if you have typed at least one url.</h3>
	
		<h1>This page is just a mockup!</h1>
		<h2>Your url #1 is: {{url1}}</h2>
		<h2>Your url #2 is: {{url2}}</h2>
		<h2>Your url #3 is: {{url3}}</h2>
		<h2>Your url #4 is: {{url4}}</h2>
		<h2>Your url #5 is: {{url5}}</h2>
		<h2>Your url #6 is: {{url6}}</h2>
		<h2>Your url #7 is: {{url7}}</h2>
		<h2>Your url #8 is: {{url8}}</h2>
		<h2>Your url #9 is: {{url9}}</h2>
		<h2>Your url #10 is: {{url10}}</h2>
	</div>
	<div class="flex-items">
		<p align="center"><a href=robot-page ><button class="button">Go to the robot!</button></a></p>
	</div>
</div>

{% endblock %}
